module howdy_v4l 1.1;

require {
	type xdm_t;
	type v4l_device_t;
	type var_run_t;
	class chr_file { map read write open ioctl getattr lock };
	class file { read getattr open ioctl };
	class dir { search read getattr open };
}

allow xdm_t v4l_device_t:chr_file { map read write open ioctl getattr lock };
allow xdm_t var_run_t:dir { search read getattr open };
allow xdm_t var_run_t:file { read getattr open ioctl };
